.navigation-bar {
  color: #f0f2f5!important;
  background-color: #289A43!important;
}

.navbar-logo {
  font-size: 24px;
  font-weight: 700;

  margin: 0px 40px 0px 20px;
}

.nav-button {
  font-family: "Inter";
  font-weight: 500;

  padding: 2px 20px;

  cursor: pointer;
  text-transform: uppercase;

  color: #fff;
  border: 2px white solid;
  border-radius: 4px;
  outline: none;
  background: #289A43;
}

.nav-button:hover {
  transition: 0.5s ease-in-out;

  color: #289A43;
  border: 2px #fff solid;
  background: #fff;
}