body {
  background: #f0f2f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
} */

.no-link{
  text-decoration: none;
  color: inherit;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.blog-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.blog-top{
  margin: 1rem 2rem 0.5rem 2rem;
}

.blog-bottom{
  margin: 0 2rem;
}

img, svg {
  vertical-align: baseline!important;
}


